@import 'bootstrap/scss/bootstrap';

$font-stack:
  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
  Arial, sans-serif;

* {
  font-family: $font-stack;
}
.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: 'Arvo', serif;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(../assets/images/dribbble_1.gif);
  height: 400px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #b97a87;
  margin: 20px 0;
  display: inline-block;
  border-radius: 10px;
  text-decoration: none;
}
.contant_box_404 {
  margin-top: -50px;
}
