@import 'bootstrap/scss/bootstrap';
@import './common/colors';
@import './common/variables';
@import './common/mixins';
@import './common/animations';

$color-in: $color-success;
$color-in-light: #e9f8ef;

$color-out: $color-primary-light;
$color-out-light: #fde8db;

$color-transfer: $color-info;
$color-transfer-light: #d3e7f6;

$color-adjust: $color-danger;
$color-adjust-light: #f6d2d4;

.toast {
  position: fixed;
  top: 50px;
  right: 20px;
  color: #eee;
  width: 300px;
  font-weight: 700;
  z-index: 100000;
  animation: toast 500ms forwards;
}

@keyframes toast {
  from {
    opacity: 0;
    transform: translateX(120%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family-base;
  background: $body-bg;
  min-height: 100vh;
  color: $text-primary;
}

.sidebar-container {
  width: 250px;
}

.main-content {
  margin-left: 250px;
  padding: 30px 40px;
}

.transaction-header {
  width: 100%;
  height: auto;
}

button.warehouse-dropdown {
  @include button();
}

.type-filter {
  margin-top: 20px;

  .btn-type {
    border: 1px solid $color-primary-dark;
    color: $color-primary-dark;
  }
  .btn-check:checked + .btn {
    background-color: $color-primary-dark;
    border: 1px solid $color-primary-dark;
    color: $color-white;
  }
  .btn-check:hover + .btn {
    background-color: $color-primary-dark;
    color: $color-white;
  }
  @media (max-width: 425px) {
    .btn-type {
      font-size: 9px;
    }
  }
}

.transaction-details {
  @include grid();
}

.custom-accordion {
  .accordion-button {
    // background-color: $color-primary-light !important;
    // color: $color-primary-dark !important;
    font-weight: 500;
    border: none;
    box-shadow: $shadow-sm;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;

    // &:not(.collapsed) {
    //   background-color: $color-primary-dark !important;
    //   color: $color-white !important;
    //   box-shadow: none;

    //   .type {
    //     background-color: $color-primary-light;
    //     color: $color-primary-dark;
    //   }
    // }
  }
  @media (max-width: 500px) {
    .accordion-button {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;

      .type {
        margin-left: 0px;
        margin-top: 10px;
      }
    }
  }

  .accordion-item {
    // border: 2px solid $color-primary;
    border-radius: 8px;
    margin-bottom: 10px;
  }

  .accordion-body {
    background: $color-white;
    color: $text-primary;
    padding: 15px;
  }
}

.transaction-id {
  .type {
    margin-left: 10px;
    margin-right: 5px;
    font-size: 12px;
    // background-color: $color-primary-dark;
    padding: 4px;
    color: $color-white;
    border-radius: 5px;
    font-weight: 500;
  }
  .in {
    background-color: $color-in;
  }
  .out {
    background-color: $color-out;
  }
  .adjust {
    background-color: $color-adjust;
  }
  .transfer {
    background-color: $color-transfer;
  }
}

.intype {
  background-color: $color-in-light !important;
  color: $color-in !important;

  &:not(.collapsed) {
    background-color: $color-in !important;
    color: $color-in-light !important;
    box-shadow: none;

    .type {
      background-color: $color-in-light;
      color: $color-in;
    }
  }
}
.outtype {
  background-color: $color-out-light !important;
  color: $color-out !important;

  &:not(.collapsed) {
    background-color: $color-out !important;
    color: $color-out-light !important;
    box-shadow: none;

    .type {
      background-color: $color-out-light;
      color: $color-out;
    }
  }
}
.transfertype {
  background-color: $color-transfer-light !important;
  color: $color-transfer !important;

  &:not(.collapsed) {
    background-color: $color-transfer !important;
    color: $color-transfer-light !important;
    box-shadow: none;

    .type {
      background-color: $color-transfer-light;
      color: $color-transfer;
    }
  }
}
.adjusttype {
  background-color: $color-adjust-light !important;
  color: $color-adjust !important;

  &:not(.collapsed) {
    background-color: $color-adjust !important;
    color: $color-adjust-light !important;
    box-shadow: none;

    .type {
      background-color: $color-adjust-light;
      color: $color-adjust;
    }
  }
}

.heading {
  color: $color-primary-dark;
  font-size: 20px;
}

.product-item,
.customer-item {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  color: $text-primary;

  span {
    color: $color-primary-dark;
  }
}

.supplier {
  font-weight: 600;
  color: $text-primary;

  span {
    font-weight: 400;
    color: $color-primary-dark;
  }
}

.other {
  font-weight: 600;
  color: $text-primary;

  span {
    font-weight: 400;
    color: $color-primary-dark;
  }
}

.no-data-message {
  text-align: center;
  padding: 40px;
  font-size: 1.2rem;
  color: #777;
}

button.invoice-btn {
  @include button();
}

.warehouse-dropdown:active,
.warehouse-dropdown:focus,
.warehouse-option:focus,
.warehouse-option:active,
.warehouse-option.active {
  background: $color-primary !important;
}
.supplier-status {
  margin-top: 10px;
}
.shipment {
  padding: 3px;
  border-radius: 4px;
  font-weight: bold;
  color: $color-primary-dark;
  border: 2px solid $color-primary-dark;
  background-color: $color-primary-light;
}

.date {
  border: 2px solid $color-primary-dark;
  padding: 6px;
  border-radius: 5px;
}

button.filter-btn {
  @include button($color-primary, $color-primary);
  padding: 9px 20px;
}

.count {
  text-align: center;
  padding: 2px 6px;
  border-radius: 12px;
  background: $color-primary-light;
  color: $color-text;
}
